/**
 * This TouchKit example is themed in standard Vaadin way. 
 * Note, that themes work bit like in Portlets, the "base theme" 
 * is added by TouchKit, and there is no need to for @import in 
 * this theme css.
 *
 * For optimal (GWT packaged) theme example, see Vornitologist.
 */

.v-app .v-label,
.v-app .v-csslayout {
	overflow: visible;
}

.v-touchkit-navbar .v-touchkit-componentgroup-h {
	white-space: nowrap;
}

.v-table-body {
	border: none;
	overflow: hidden;
}

.v-touchkit-popover .v-table-body {
	border-radius: 5px;
}



.tablet .mailboxes {
	border-right: 1px solid rgba(0,0,0,.3);
}

.tablet .mailboxes .v-touchkit-navview-wrapper,
.tablet .mailboxes .v-touchkit-navpanel-placeholder {
	background: #f6f6f7;
}

.phone .v-touchkit-navview-wrapper .v-table,
.phone .v-touchkit-navpanel-placeholder {
	background: #fff;
}

.mailboxes .v-table-body {
	border: none;
}

.mailboxes .v-table .v-touchkit-navbutton {
	border: none;
	padding: 0 12px;
	margin: -5px 0;
}

.mailboxes .v-table .v-touchkit-navbutton:focus,
.mailboxes .v-table .v-touchkit-navbutton:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4d8cb9), to(#3e6fa8));
	color: #fff;
	text-shadow: 0 1px 1px #396897;
}

.mailboxes .v-table-cell-content {
	padding: 0;
	vertical-align:middle;
}

.v-touchkit-navview-toolbar .v-touchkit-navbar-caption {
	font-size: 13px;
	}

.v-navbutton::after {
	top: 0 !important;
}

.v-table .v-label.new-marker {
	height: 50px;
	width: 30px;
	padding: 0;
	background: transparent url(graphics/blue-ball.png) no-repeat 50% 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.v-table .v-label.new-marker {
		background-image: url(graphics/blue-ball-2x.png);
		-webkit-background-size: 14px 13px;
	}
}

.message-layout .v-label-undef-w {
	display: inline-block;
}

.message-layout .details-link {
	float: right;
    position: absolute;
    top: 0px;
}

.message-layout .details-link .v-button-caption {
    line-height: 45px;
    height: 45px;
}

.message-layout .mark-as-unread-button {
    position: absolute;
	right: 15px;
}

.message-layout .mark-as-unread-button .v-icon {
	margin-right: 4px;
	vertical-align: -1px;
}

.selected-checkbox {
	margin: 32px 0 0 10px;
}

.v-table .v-table-focus .v-table-cell-content,
.v-app .v-table .v-table-cell-content {
	border: none;
	border-bottom: 1px solid #d8d8d9;
}

.v-table-cell-wrapper {
	border: none;
	padding-top: 1px;
}

.message-list .v-table-cell-wrapper {
	height: 90px;
}

.v-table .v-table-focus .v-table-cell-wrapper {
	margin: 0;
}

.v-app .v-table .v-selected {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4d8cb9), to(#3e6fa8));
	outline: none;
}

.v-table .v-selected,
.v-table .v-selected .v-label {
	text-shadow: 0 1px 1px #396897 !important;
	color: #fff !important;
}

.v-table .v-table-row,
.v-table .v-table-row-odd {
	background: transparent;
	cursor: default;
}

.v-table .v-label {
	padding: 0 20px 0 4px;
	line-height: 1.2;
}

.v-table .message-button > .v-csslayout {
	padding: 3px 0;
}

.v-table .message-button-from {
	font-size: 17px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 2px;
}

.v-table .v-label-light {
	color: #797b7f;
	font-size: 13px;
	line-height: 15px;
	margin-top: -4px;
}

.message-button {
	white-space: normal;
	position: relative;
}

.message-button-from,
.message-button-time {
	display: inline-block;
}

.v-table .message-button-time {
	position: absolute;
	right: 0;
	top: 10px;
	color: #1b699f;
}

.v-app .from-button {
	border: 1px solid #87a2bf;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background: #dce6ef -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dee8f1), to(#cedae5));
	line-height: 1;
	padding: 0 7px 5px;
	margin-left: 6px;
	margin-bottom: -2px
}

.from-button .v-button-caption,
.from-button .v-nativebutton-caption {
	color: #222;
}

.details-link {
	position: absolute;
	right: 20px;
	top: 20px;
}

.message-view {
	background: #fff;
}

.message-view.no-message {
	background: transparent;
}

.no-message .message-layout  {
	height: 100%;
	background: transparent;
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
}

.no-message .message-layout div {
	height: 100%;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	color: #6a6c6f;
	text-align: center;
	position: relative;
}

.no-message .message-layout .v-label {
	height: auto;
	top: 40%;
}

.message-view .message-layout {
	font-size: 16px;
	line-height: 22px;
	padding: 20px;
}

.v-app .message-view .message-layout {
	padding: 16px 20px;
	}

.v-app .no-message .message-layout {
	padding: 0;
	}

.message-view .message-layout hr {
	height: 1px;
	overflow: hidden;
	background: #dcdcdc;
	border: none;
	border-bottom: 1px solid #fff;
	margin: 12px -20px;
}

.message-layout .light-text,
.message-layout .light {
	color: #797b7f;
}

.message-layout .light b {
	font-weight: normal;
}

.message-layout .h2 {
	color: #222;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 2px;
}

.message-details {
	margin: 0 -20px;
	padding: 0 20px;
}

.v-touchkit-fullscreen.new-message {
	background: #fff;
}

.new-message .v-textfield,
.new-message .v-textarea {
	-webkit-appearance: none;
	border: none;
	background: transparent;
	font-size: 15px;
}

.new-message .v-textarea {
	border-top: 1px solid #ddd;
	padding: 10px 12px;
	line-height: 20px;
}

.new-message .v-formlayout-row > td {
	border-color: #ddd;
}

.v-table .indent-layout-level1 .v-touchkit-navbutton {
	padding-left: 35px;
}
.v-table .indent-layout-level2 .v-touchkit-navbutton {
    padding-left: 70px;
}
.v-table .indent-layout-level3 .v-touchkit-navbutton {
    padding-left: 105px;
}
.v-table .indent-layout-level4 .v-touchkit-navbutton {
    padding-left: 140px;
}

.v-app .v-button.blue,
.v-app .v-button.red {
	background-color: #1777EE;
	border-color: #2762AA;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .3);
}

.v-app .v-button.red {
	background-color: #c91800;
	border-color: #9d1706;
}

.v-app .v-button.blue:active {
	background-color: #1062c9;
}

.v-app .v-button.red:active {
	background-color: #b31500;
}

.v-app .v-button-reply .v-button-wrap {
	background-color: #1777EE;
	color: #fff;
}

.v-touchkit-navbar .v-button img.v-icon {
	width: 24px;
	height: 24px;
	margin-top: 2px;
}

.edit-toolbar .v-touchkit-navbar-left {
	right: 50%;
	max-width: 100%;
}

.edit-toolbar .v-touchkit-navbar-right {
	left: 50%;
	max-width: 100%;
}

.edit-toolbar .v-touchkit-navbar-left .v-button,
.edit-toolbar .v-touchkit-navbar-right .v-button {
	display: block;
}


@-webkit-keyframes newMessage {
	0% {
		opacity: 0;
		/*-webkit-transform: translateY(-100px);*/
	}
	100% {
		opacity: 1;
		/*-webkit-transform: translateY(0);*/
	}
}
.message-list .v-table-row-first .v-table-cell-wrapper {
	-webkit-animation: 500ms ease-out newMessage;
}

.message-list .v-table-cell-content-new {
	width: 30px;
}





/* TODO these below should be fixed in TouchKit theme */

.v-touchkit-navbar, 
.v-touchkit-navpanel-placeholder > div, 
.v-touchkit-popover.v-touchkit-fullscreen .v-touchkit-navpanel-placeholder > div {
	height: 44px !important;
}

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
	background-size: 25px 25px;
}

.v-touchkit-navbar .v-button:active .v-button-wrap:after,
.v-touchkit-toolbar .v-button:active .v-button-wrap:after {
	display: none;
}

.v-touchkit-navbar .v-button-no-decoration:active .v-button-wrap:after,
.v-touchkit-toolbar .v-button-no-decoration:active .v-button-wrap:after {
	display: block;
	top: 50%;
	left: 50%;
	background-color: rgba(255,255,255,.5);
	box-shadow: 0 0 50px 30px #fff;
	width: 1px;
	height: 1px;
	border-radius: 14px;
}

.v-touchkit-toolbar .v-button-no-decoration:active .v-button-wrap {
	background: transparent;
}

.v-app .v-touchkit-popover.v-touchkit-relative .v-touchkit-navbar .v-button-no-decoration {
	-webkit-box-shadow: none;
}


.v-touchkit-navbutton-back:active {
	-webkit-border-image: url(graphics/back-button-down.png) 0 6 0 13 stretch stretch;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.v-touchkit-navbutton-back:active {
		-webkit-border-image: url(graphics/back-button-down-2x.png) 0 6 0 13 stretch stretch;
	}
}


.v-touchkit-componentgroup-row:first-child {
	border-radius: 10px 10px 0 0;
}


@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
}

.v-touchkit-popover {
	-webkit-animation: 50ms ease-out fadeIn;
}


.v-touchkit-popover.v-touchkit-smallscreen .popupContent {
	-webkit-animation: 200ms ease-out slideUp;
}

.v-touchkit-popover.v-touchkit-smallscreen.v-touchkit-fullscreen .popupContent {
	-webkit-animation: none;
}